.card {
  display: flex;
  padding: 24px;
  gap: 24px;

  border: 1px solid var(--gray-light);
  border-radius: 20px;
  width: 888px;
}

.thumb {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  object-fit: cover;
  object-position: 80% center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 524px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceAndFavContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.name, 
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

.favButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.favIcon {
  fill: var(--main);
  transition: color 0.3s ease, transform 0.2s ease;
}

.favButton:hover .favIcon {
  transform: scale(1.1);
}

.favButton.active .favIcon {
  fill: var(--button);
}

.rateAndLocationContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.rating {
  display: flex;
  gap: 4px;
  align-items: center;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.description {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text);
  font-size: 16px;

  height: 24px;
}

.details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.feature {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 12px 18px;
  height: 48px;
  border-radius: 100px;

  background: #f2f4f7;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #101828;
}

.featureIcon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  border: none;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;

  color: var(--white);
  background-color: var(--button);

  white-space: nowrap;
}

.actions {
  width: 166px;
}