.reviews {
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 631px;
}

.review {
  padding: 12px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;
}

.name {
  font-weight: 600;
}

.stars {
  display: flex;
  gap: 2px;
}

.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--badges);
  color: var(--button);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  font-weight: 600;
  flex-shrink: 0;
  user-select: none;
}